@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<div class="container mt-3 py-5 py-lg-6">
    <div class="text-center mb-4">
        <h1 class="display-3 fw-bold">@Localizer["Featured On"]</h1>
    </div>

    <div class="row align-items-center">
        <!-- Previous Button -->
        <div class="col-auto d-none d-md-block">
            <button class="btn p-0 border-0 bg-transparent" data-bs-target="#featuredCarousel" data-bs-slide="prev">
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40"  class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
                    <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0m3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z" />
                </svg>
            </button>
        </div>

        <!-- Carousel -->
        <div class="col">
            <div id="featuredCarousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="7000">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="row g-3">
                            <div class="col-12 col-md-4">
                                <a href="https://www.ictsamachar.com/news/jooneli-inc-is-preparing-to-release-the-remote-access-application-multiple-desk/" class="d-block p-2">
                                    <img src="~/images/Featured/ictsamachar.png" class="img-fluid mx-auto d-block" alt="Feature 6" style="max-height: 120px; width: auto;">
                                </a>
                            </div>
                            
                            <div class="col-12 col-md-4">
                                <a href="https://ictframe.com/" target="_blank" class="d-block p-2">
                                    <img src="~/images/Featured/ictframe.png" class="img-fluid mx-auto d-block" alt="ICT Frame" style="max-height: 120px; width: auto;">
                                </a>
                            </div>
                            <div class="col-12 col-md-4">
                                <a href="https://merolagani.com" class="d-block p-2">
                                    <img src="~/images/Featured/merolagani.png" class="img-fluid mx-auto d-block" alt="Feature 4" style="max-height: 120px; width: auto;">
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="carousel-item">
                        <div class="row g-3">
                            <div class="col-12 col-md-4">
                                <a href="https://www.ratopati.com/" target="_blank" class="d-block p-2">
                                    <img src="~/images/Featured/ratopati-logo_REzRf6kMi8.png" class="img-fluid mx-auto d-block" alt="Ratopati" style="max-height: 120px; width: auto;">
                                </a>
                            </div>

                            <div class="col-12 col-md-4">
                                <a href="https://www.bizshala.com/" target="_blank" class="d-block p-2">
                                    <img src="~/images/Featured/bizshalalogo.png" class="img-fluid mx-auto d-block" alt="Bizshala" style="max-height: 120px; width: auto;">
                                </a>
                            </div>
                            <div class="col-12 col-md-4">
                                <a href="https://bizpati.com/" class="d-block p-2">
                                    <img src="~/images/Featured/bizpati-logo.png" class="img-fluid mx-auto d-block" alt="Feature 5" style="max-height: 120px; width: auto;">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Mobile indicators -->
                <div class="d-md-none text-center mt-3">
                    <button type="button" data-bs-target="#featuredCarousel" data-bs-slide="prev" class="btn btn-sm  mx-1">
                        <i class="bi bi-chevron-left"></i>
                    </button>
                    <button type="button" data-bs-target="#featuredCarousel" data-bs-slide="next" class="btn btn-sm  mx-1">
                        <i class="bi bi-chevron-right"></i>
                    </button>
                </div>
            </div>
        </div>

        <!-- Next Button -->
        <div class="col-auto d-none d-md-block">
            <button class="btn p-0 border-0 bg-transparent" data-bs-target="#featuredCarousel" data-bs-slide="next">
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40"  class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
                    <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z" />
                </svg>
            </button>
        </div>
    </div>
</div>