@* style="background-color:#4A4B4F;" *@
<footer class=" footer text-muted" style="background-color:#EEEEEE;">
    <div class="container p-4">
        <div class="row ">

            <div class="col-6 col-md-2  ">
                <h6 class="fs-5">MultipleDesk</h6>
                <ul class="list-unstyled">
                    <li>
                        <a asp-area="" asp-controller="About" asp-action="Index" class=" text-black text-decoration-none">Terms</a>
                    </li>
                    <li>
                        <a asp-controller="Message" asp-action="Index" class="text-black text-decoration-none">Privacy Policy</a>
                    </li>
                </ul>
            </div>


            <!-- Company -->
            <div class="col-6 col-md-2 ">
                <h6 class="fs-5">Company</h6>
                <ul class="list-unstyled">
                    <li><a href="https://jooneli.com/" class="text-black text-decoration-none">About Us</a></li>
                    <li><a asp-area="" asp-controller="Contact" asp-action="Index" class="text-black text-decoration-none">Contact</a></li>
                </ul>
            </div>

       
            <!-- News & Updates -->
            <div class="col-6 col-md-2 ">
                <h6 class="fs-5">Downloads</h6>
                <ul class="list-unstyled">
                    <li><a asp-controller="Download" asp-action="Index" class="text-black text-decoration-none">For Windows</a></li>
                </ul>
            </div>

            <!-- Certifications -->
            @*  <div class="col-6 col-md-2 mb-4">
                <h6 class="fw-bold">Certifications</h6>
                <img src="~/images/joonlogo--JfLTwqW.png" alt="Certifications" class="img-fluid mt-2" style="max-width: 50px;">
                <img src="~/images/joonlogo--JfLTwqW.png" alt="Certifications" class="img-fluid mt-2" style="max-width: 50px;">
            </div> *@

        </div>

        <hr class="text-white">
        <!-- Bottom Bar -->
        <div class="d-flex justify-content-between align-items-center flex-wrap">
            <p class="mb-0"><a class="text-black text-decoration-none">&copy; 2025</a> <span class="fw-bold"><a href="http://jooneli.com/" class="text-black text-decoration-none">Jooneli Inc</a></span></p>
            <div>
                <a href="https://www.facebook.com/profile.php?id=100063535842460" class="text-black me-3 h-100"><i class="bi bi-facebook fs-4"></i></a>
                <a href="#" class="text-black me-3"><i class="bi bi-linkedin fs-4 h-100"></i></a>
                <a href="#" class="text-black"><i class="bi bi-youtube fs-4 h-100"></i></a>
            </div>
        </div>
    </div>
</footer>