@* style="background-color:#4A4B4F;" *@
<footer class=" footer text-muted" style="background-color:#EEEEEE;min-height:300px; position: relative;">
    <div class="container p-4 py-5">
        <div class="row mt-4">
            <div class="col-6 col-md-2  ">
                <h6 class="fs-6 custom-text-color fw-bold">MultipleDesk</h6>
                <ul class="list-unstyled">
                    <li>
                        <a asp-action="Term" asp-controller="Home" class=" text-black text-decoration-none fs-6">Terms & Conditions</a>
                    </li>
                    <li>
                        <a href="#" class="text-black text-decoration-none fs-6">Privacy Policy</a>
                    </li>
                </ul>
            </div>


            <!-- Company -->
            <div class="col-6 col-md-2 ">
                <h6 class="fs-6 custom-text-color fw-bold">Company</h6>
                <ul class="list-unstyled">
                    <li><a href="https://jooneli.com/" class="text-black text-decoration-none fs-6">About Us</a></li>
                    <li><a  asp-controller="Contact" asp-action="Index" class="text-black text-decoration-none fs-6">Sales</a></li>
                </ul>
            </div>

            <!-- News & Updates -->
            <div class="col-6 col-md-2 ">
                <h6 class="fs-6 fw-bold custom-text-color">Downloads</h6>
                <ul class="list-unstyled">
                    <li><a asp-controller="Download" asp-action="Index" class="text-black text-decoration-none fs-6">For Windows</a></li>
                </ul>
            </div>

            <!-- Certifications -->
            @*  <div class="col-6 col-md-2 mb-4">
                <h6 class="fw-bold">Certifications</h6>
                <img src="~/images/joonlogo--JfLTwqW.png" alt="Certifications" class="img-fluid mt-2" style="max-width: 50px;">
                <img src="~/images/joonlogo--JfLTwqW.png" alt="Certifications" class="img-fluid mt-2" style="max-width: 50px;">
            </div> *@

        </div>

        <!-- Bottom Bar -->
        <div class="container-fluid py-3" style="position: absolute; bottom: 0; left: 0; right: 0;">
            <div class="container">
                <div class="d-flex justify-content-between align-items-center flex-wrap">
                    <p class="mb-0">
                        <span class="text-black">&copy; 2025</span>
                        <span class=" ms-1">
                            <a href="http://multipledesk.com/" class=" text-decoration-none fw-bold text-black">Multiple Desk</a>
                        </span>
                    </p>
                    <span class="text-muted">product of  <a href="https://jooneli.com/" class="text-black text-decoration-none">Jooneli Group</a></span>
                    <div>
                        <a href="https://www.facebook.com/profile.php?id=100063535842460" class="text-black me-3"><i class="bi bi-facebook fs-4"></i></a>
                        <a href="#" class="text-black me-3"><i class="bi bi-linkedin fs-4"></i></a>
                        <a href="#" class="text-black"><i class="bi bi-youtube fs-4"></i></a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</footer>